In [1]:
#import all libraries
import numpy as np
import pandas as pd

In [3]:
try:
    ideal_df = pd.read_csv("ideal.csv")
    test_df = pd.read_csv("test.csv")
    train_df = pd.read_csv("train.csv")
except:
    print("please enter the correct location")

In [4]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x       400 non-null    float64
 1   y1      400 non-null    float64
 2   y2      400 non-null    float64
 3   y3      400 non-null    float64
 4   y4      400 non-null    float64
dtypes: float64(5)
memory usage: 15.8 KB

In [5]:
print(train_df.shape)
print(ideal_df.shape)
print(test_df.shape)

(400, 5)
(400, 51)
(100, 2)

In [6]:
train_df.head()

      x         y1        y2         y3         y4
0 -20.0 -5832.4604 -8794.779 -7999.8228 -8020.4204
1 -19.9 -5735.1480 -8667.201 -7880.6210 -7900.2250
2 -19.8 -5639.3500 -8541.552 -7762.0770 -7782.5980
3 -19.7 -5545.1553 -8416.552 -7645.2417 -7665.4680
4 -19.6 -5452.0140 -8292.784 -7529.6590 -7549.2524

In [7]:
test_df.head()

      x           y
0   7.8   941.05115
1   5.4   156.80476
2 -16.7 -4672.91400
3   6.9 -5916.52500
4   9.0  1331.09310

In [8]:
ideal_df.head(2)

,x,y1,y2,y3,y4,y5,y6,y7,y8,y9,y10,y11,y12,y13,y14,y15,y16,y17,y18,y19,y20,y21,y22,y23,y24,y25,y26,y27,y28,y29,y30,y31,y32,y33,y34,y35,y36,y37,y38,y39,y40,y41,y42,y43,y44,y45,y46,y47,y48,y49,y50
0,-20.0,-0.912945,0.408082,9.087055,5.408082,-9.087055,0.912945,-0.839071,-0.850919,0.816164,18.258905,-20.0,-58.0,-45.0,20.0,13.00,400.00,-400.00,800.00,410.00,289.00,-8000.000,8000.000,8000.000,-16000.000,-23995.000,-5832.000,10648.000,-8020.000,-7600.000,-8795.000,20.0,4.472136,20.124610,-0.746414,10.0,100.0,-20.0,-1.321027,399.08707,899.5919,-40.456474,40.20404,2.995732,-0.008333,12.995732,5.298317,-5.298317,-0.186278,0.912945,0.396850
1,-19.9,-0.867644,0.497186,9.132356,5.497186,-9.132356,0.867644,-0.865213,0.168518,0.994372,17.266117,-19.9,-57.7,-44.8,19.9,12.95,396.01,-396.01,792.02,406.01,285.61,-7880.599,7880.599,7880.599,-15761.198,-23636.797,-5735.339,10503.459,-7900.499,-7484.589,-8667.619,19.9,4.460942,20.025234,-0.620450,9.9,99.5,-19.9,-1.364830,395.14236,893.5128,-40.233820,40.04859,2.990720,-0.008340,12.990720,5.293305,-5.293305,-0.215690,0.867644,0.476954

In [9]:

def sort_Tuple(tup):
 
    return(sorted(tup, key = lambda x: x[1]))

### Doctring Example

In [10]:
def sort_Tuple(tup):
    '''
        Function to sort the list by second item of tuple.
        This Python program to sort a list of tuples by the second Item using sorted().
        Here reverse = None (Sorts in Ascending order)
        ,key is set to sort using second element of
        , sublist lambda has been used.
        
     '''
    return(sorted(tup, key = lambda x: x[1]))

In [11]:
def root_mean_square_error(pred, label):
    error = (np.sum(np.square(pred-label)))/len(pred)
    return error

In [12]:
def maxdev(predictions, labels):
    maxdev = np.max(np.abs((predictions-labels)))
    return maxdev

In [13]:
maxdev(np.array(train_df.y3),np.array(ideal_df.y15))

8012.8228

In [14]:
np.sqrt(2)

1.4142135623730951

In [15]:
max_dev_allowed = 0.497 + np.sqrt(2)
max_dev_allowed

1.9112135623730953

In [16]:
12.5-10.6

1.9000000000000004

In [17]:
class Rectangle:
    def __init__(self, length, width):
        self.length = length
        self.width = width

    def area(self):
        return self.length * self.width

    def perimeter(self):
        return 2 * self.length + 2 * self.width

class Square:
    def __init__(self, length):
        self.length = length

    def area(self):
        return self.length * self.length

    def perimeter(self):
        return 4 * self.length

In [18]:
square = Square(4)
square.area()

16

In [19]:
rectangle = Rectangle(2,4)
rectangle.area()

8

In [20]:
class Rectangle:
    def __init__(self, length, width):
        self.length = length
        self.width = width

    def area(self):
        return self.length * self.width

    def perimeter(self):
        return 2 * self.length + 2 * self.width

# Here we declare that the Square class inherits from the Rectangle class
class Square(Rectangle):
    def __init__(self, length):
        super().__init__(length, length)

In [21]:
square = Square(4)
square.area()

16

In [22]:
# isinheritance(Rectangle, Square)

In [23]:
class Square(Rectangle):
    def __init__(self, length):
        super().__init__(length, length)

class Cube(Square):
    def surface_area(self):
        face_area = super().area()
        return face_area * 6

    def volume(self):
        face_area = super().area()
        return face_area * self.length

In [24]:
cube = Cube(3)
cube.surface_area()

54

# making finding best fit class

In [25]:
class Select_best_features:
    def __init__(self, train_data, ideal_data):
        self.train_len = train_data.shape[0]
        self.ideal_len = ideal_data.shape[0]
        self.train_target_feature = train_data.columns[1:]
        self.ideal_target_feature = ideal_data.columns[1:]
        self.ideal_target_data = ideal_df.iloc[0:,1:]
        self.train_target_data = train_df.iloc[0:, 1:]
        self.ideal_feat_prediction = ideal_df.iloc[0:, 0:1]
        self.train_feat_prediction = train_df.iloc[0:, 0:1]
        
    def lowest_root_mean_square_error_label(self, train_feature):
        error_list = []
        for i in self.ideal_target_feature:
            prediction = np.array(self.ideal_target_data[i])
            label = np.array(self.train_target_data[train_feature])
            error = root_mean_square_error(prediction, label)
            label_error_tuple= i, round(error, 2)
            error_list.append(label_error_tuple)

        error_list_sorted = sort_Tuple(error_list)
        return error_list_sorted[0]
    
    def lowest_root_mean_square_error_all_labels(self):
        best_label_list = []
        for train_col in self.train_target_feature:
            best_label = self.lowest_root_mean_square_error_label(train_col)
            best_label_list.append(best_label)
        col_list = self.train_target_feature
    
        return dict((zip(col_list,best_label_list )))

In [26]:
class Test_cases(Select_best_features):
    def train_ideal_max_dev(self):
        train_ideal_func_dict = super().lowest_root_mean_square_error_all_labels()
        max_dev_list = []
        for feature in  self.train_target_feature:
            #print(feature)
            ideal_feat = train_ideal_func_dict[feature][0]
            print(feature, ideal_feat)
            max_dev_ = maxdev(self.train_target_data[feature], self.ideal_target_data[ideal_feat])
            max_dev_list.append(max_dev_)
            print(max_dev_list, '\n')

In [27]:
tc = Test_cases(train_df, ideal_df)
tc.train_ideal_max_dev()

y1 y26
[0.49949999999989814]

y2 y30
[0.49949999999989814, 0.49929999999994834]

y3 y21
[0.49949999999989814, 0.49929999999994834, 0.49949999999989814]

y4 y28
[0.49949999999989814, 0.49929999999994834, 0.49949999999989814, 0.49969999999984793]

In [28]:
class Test_cases(Select_best_features):
    def train_ideal_max_dev(self):
        train_ideal_func_dict = super().lowest_root_mean_square_error_all_labels()
        max_dev_list = []
        for feature in  self.train_target_feature:
            ideal_feat = train_ideal_func_dict[feature][0]
            max_dev_ = maxdev(self.train_target_data[feature], self.ideal_target_data[ideal_feat])
            max_dev_list.append(round(max_dev_, 3))
        return dict((zip(self.train_target_feature, max_dev_list )))

In [29]:
tc = Test_cases(train_df, ideal_df)
tc.train_ideal_max_dev()

{'y1': 0.499, 'y2': 0.499, 'y3': 0.499, 'y4': 0.5}